.body {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

mat-card, table {
    width: 100%;
}

mat-card-content.loading {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.datepicker {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

mat-chip-list {
    margin: 5px;
}