<div class="body">
    <mat-card>
        <mat-card-title>
            List of countries
        </mat-card-title>
        <mat-card-content *ngIf="loading$ | async" class="loading">
            <mat-spinner diameter="40"></mat-spinner>
        </mat-card-content>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="w-full" *ngIf="!(loading$ | async)">
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row matRipple (click)="goToDetail(row.code)" *matRowDef="let row; columns: columns;"></mat-row>
            </table>
        </mat-card-content>
        <mat-card-footer>
            <mat-paginator
                *ngIf="!(loading$ | async)" 
                [length]="length" 
                [pageSize]="pageSize" 
                [pageSizeOptions]="pageSizeOptions"
                (page)="paginatorChanged($event)"
            ></mat-paginator>
        </mat-card-footer>
    </mat-card>
</div>